<html>
	<head>
		<title> Registrierung</title>
	
	</head>
	<body>
	
		<table>
			<form action="register" method="post">
			<tr> <td>	<input type="text" name="name"> </td> <td> Name </td> </tr>
			<tr> <td>	<input type="password" name="password"> </td> <td> Password </td> </tr>
			<tr> <td>	<input type="submit" name="create" value="Register"> </form> </td> 
				<td> <a href="\"> Return </a> </td>
			</tr>
		</table>
	
	</body>


</html>