<!DOCTYPE html>
<html>
	<head>
		<title>Abilities</title>
	</head>
	<body>
		<form action='toAbilities' method="POST">
			<input type="text" name="abilities"> value=<br>
			<input type="text" name="rolled"><br>
			<button type="submit">aktualisieren</button>
		</form>
	</body>
</html>