@charset "UTF-8";
/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	background-color: #110808;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input, button, submit, textarea { border:none; resize: none;} 


.content_outer {
	overflow-y: scroll;
	overflow-x: hidden;
}

.content_inner {
	padding-top:17vh;
	width:100%; 
	background-image: url("../img/hintergrund.jpg");
	background-size: contain;
	background-repeat: repeat-y;
	min-height:77vh;
	padding-bottom: 3vh;
	overflow: hidden;
}

.abschnitt_3 {
	width:31.3%; 
	height: 35vw;
	float: left;
	margin: 1%;
}
.abschnitt_2 {
	width:35%; 
	height: 35vw;
	float: left;
	margin-left: 10%;
	padding-top: 5vw;
}
.abschnitt_1 {
	width:80%; 
	float: left;
	margin-left: 10%;
	margin-bottom: -15px;
}

.top_bar {
	width:100%;
	height:17vh;
	background-image: url("../img/top_bar.jpg");
	background-size: cover;
	background-position: bottom;
	top:0;	
	position: fixed;
	overflow: hidden;
	z-index: 100;
}

.footer {
	width:100%;
	height:6vh;
	position: fixed;
	top:94vh;
	background-image: url("../img/top_bar.jpg");
	background-size: cover;
	z-index: 100;
}

.clear {
	clear: both;
}


input, textarea {
	width:100%;
	height:70%;
	background-color: #4c2910;
	mix-blend-mode: hard-light;
}

input:focus, textarea:focus {
	color: black;
	background-color: rgba(255,255,255,0.7);
	mix-blend-mode: none;
} 

.number {
	font-size: 20vw;
	text-align: center;
	color: #dddddd;
	font-family: 'Teko', sans-serif;	
}

.word {
	font-size: 6vw;
	text-align: center;
	color: #dddddd;
	font-family: 'Teko', sans-serif;	
}

.delete {
	position: relative;
	width:50px;
	height:50px;
	background: none;
	background-image: url(../img/delete.png);
	background-size: cover;
	transform: translate(-18px,33px);
	z-index: 2;
  	cursor: pointer;
}

textarea {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 22px;
	text-align: center;
	color: #dddddd;
	font-family: 'Roboto', sans-serif;
}

h2 {
	clear: both;
	color: #ffffff;
	font-family: 'Cinzel Decorative', cursive;
	text-align: center;
	padding: 8vw;
	font-size: 8vw;
	filter: drop-shadow(6px 6px 6px #000000);
}
h5 {
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	filter: drop-shadow(3px 3px 3px #000000);
}
h6 {
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	padding-top:10px;
	font-size: 4vw;
	border-top: solid;
	border-color: #ddaa80;
	filter: drop-shadow(3px 3px 3px #000000);
}

a {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	padding-top:50px;
	font-size: 4vw;
	width:100%;
}

p {
	text-align: center;
	margin-left: 50%;
	transform: translate(-35px,0);
}

.linie {
	border-top: solid;
	border-color: #ddaa80;
}

.menu_item {
	height:10vh;
	width:15vw;
	margin: 4.5vw;
	mix-blend-mode: overlay;
	background:none;
  	border:none;
  	cursor: pointer;
}

.button1 {
	background-image: url(../img/icon1.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.button2 {
	background-image: url(../img/icon2.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.button3 {
	background-image: url(../img/icon3.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.button4 {
	background-image: url(../img/icon4.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.button {
	background-image: url(../img/button.png);
	background-size: cover;
	mix-blend-mode: normal;
	width:33vw;
	height:9vw;
	margin-top:5vw;
	margin-bottom: 30vw;
	margin-left: 30%;
	color: rgba(255,255,255,0.8);
	font-family: 'Teko', sans-serif;
	font-size: 30px;	
  	cursor: pointer;
}
.logout {
	margin-left: 50vw;
	padding-top: 1vh;
	width:150px;
	transform: translate(-75px,0);
	opacity: 0.8;
	mix-blend-mode: overlay;
}
.current {
	mix-blend-mode: screen;
}
/*###########################Querformat###############################*/

@media (orientation: landscape) {

	html {
		width:100vw;
		background-color: #110808;
		background-size: cover;
	}

	.top_bar {
		height:100px;
		background-image: url(../img/top_bar_landscape.jpg);
		background-position: center;
	}

	.footer {
		background-image: url(../img/top_bar_landscape.jpg);
		background-position: center;
	}
	.logout {
		width:100px;
		transform: translate(-50px,0);
	}
	.content_outer {
		margin-top: 100px;
	}

	.menu {
		max-width: 700px;
		margin: 0 auto;
	}

	.menu_item {
		height:70px;
		width:70px;
		margin: 20px;
		margin-left: 60px;
	}

	.content_inner {
		background-size: cover;
		padding-top: 3vh;
		max-width: 1300px;
		min-height: 86vh;
		left:100px;
		right:100px;
		margin: 0 auto;
	}

	.abschnitt_3 {
		width:14%; 
		height: 180px;
	}
	.abschnitt_2 {
		margin-left: 1%;
		width:14%; 
		height: 180px;
		padding-top: 0;
	}

	.weapon {
		width: 50%;
	}

	.special {
		width:50%;
		margin-top:-110px;
	}

	.number {
		font-size: 100px;
	}

	.word {
		font-size: 40px;
		text-align: center;
		color: #dddddd;
		font-family: 'Teko', sans-serif;	
	}

	.button {
		width:202px;
		height:56px;
		margin-left: 50%;
		margin-bottom: 100px;
		transform: translate(-101px,0);
	}

	h2 {
		font-size: 44px;
		padding: 20px;
		padding-top: 50px;
	}
	h5, h6, a {
		margin-top:0px;
		font-size: 22px;
	}

}

@media (orientation: landscape) and (max-width: 1000px) {
	.footer {
		background-image: url(../img/top_bar_landscape.jpg);
		background-position: center;
		top:90vh;
		height:10vh;
	}
}